{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Registrarse{% endblock %}

{% block content %}
<div class="p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
    <h1 class="text-4xl font-extrabold dark:text-white">Registrarse</h1>
    <form method="POST">
        {% csrf_token %}
        {{form|crispy}}

    <button class="text-gray-900 bg-gradient-to-r from-lime-200 via-lime-400 to-lime-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-lime-300 dark:focus:ring-lime-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Registrarse</button>   
    <hr>
    <p>¿Ya tienes cuenta? <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline" href="{% url 'login' %}">Inicia sesión</a></p>
    </form>
</div>
{% endblock %}