<!DOCTYPE html>
<html lang="en" class="{{ request.session.theme }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="dark:bg-slate-800">
    <header class="fixed top-0 left-0 right-0 bg-white dark:bg-slate-900 text-slate-800 dark:text-white flex flex-row justify-between items-center shadow-lg">
        <div class="flex items-center">
            <a href="/" class="text-4xl p-4 cursor-pointer">Recetas</a>
            <form method="GET">
                {% if request.session.theme == 'dark' %}
                    <button name="theme" value="clear" class="bg-sky-500 hover:bg-sky-600 rounded-lg px-4 py-2">Modo claro</a>
                {% else %}
                    <button name="theme" value="dark" class="bg-slate-700 hover:bg-slate-800 text-slate-300 rounded-lg px-4 py-2">Modo oscuro</a>
                {% endif %}
            </form>    
        </div>
        <form action="buscar" method="GET" class="px-4 m-4" role="search">
            <input class="rounded-lg border-solid border-2 border-slate-400 dark:bg-slate-800 px-2 py-2 mx-2" type="search" name="busqueda" id="busqueda" placeholder="Buscar recetas">
            <button class="bg-sky-500 hover:bg-sky-600 rounded-lg px-4 py-2">Buscar</button>
        </form>
    </header>
    {% block content %}
        
    {% endblock %}
        

    <script>
        tailwind.config = {
            darkMode: 'class'
        }
    </script>
</body>
</html>