{% extends 'recetas/base.html' %}

{% block content %}
        <div class="flex flex-col items-center bg-gradient-to-r from-sky-100 dark:from-slate-700 to-sky-200 dark:to-slate-800 text-center rounded-3xl max-w-xl w-9/12 max-h-xl h-9/12 shadow-xl p-10">
            <h1 class="text-4xl font-bold mx-auto">Bienvenid@</h1>
            <h3 class="text-3xl font-semibold mb-2">Base de datos de recetas</h3>
            <p class="text-2xl my-2">Aquí podrás encontrar recetas de todo tipo.</p>
            <p class="text-xl my-2">Puedes buscar recetas por nombre:</p>
            <form action="buscar" method="get">
                <input class="rounded-lg border-solid border-2 border-slate-400 dark:bg-slate-800 px-2 py-2 mx-2" type="search" name="busqueda" id="busqueda" placeholder="Buscar recetas">
                <button class="bg-sky-400 hover:bg-sky-500 text-white dark:text-slate-800 rounded-lg px-4 py-2">Buscar</button>
            </form>
        </div>
{% endblock %}