{% extends 'recetas/base.html' %}

{% block content %}
    <table class="table-auto">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Más información</th>
            </tr>
        </thead>
        <tbody>
        {% for receta in recetas %}
            <tr>
                <td>{{ receta.nombre|title }}</td>
                <td>{{ receta.preparacion }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}